# Default ignored files
/shelf/
# Datasource local storage ignored files
/../../../../:\JavaWebPracticeProject\MyPracticeCommunityWebsite\.idea/dataSources/
# Editor-based HTTP Client requests
/httpRequests/
/.idea/
/target/
/MyPracticeCommunityWebsite.iml
MyPracticeCommunityWebsite/target/
