@CHARSET "UTF-8";

#header {
    margin-left: 15%;
}

.mainSection {
    margin-left: 15%;
    margin-right: 18%;
}

.register-attributes {
    background-color: #d5d0d0;
    border: 1px solid #ccc;
}

.header_mainDiv {
    height: 300px;
    margin: 10px auto;
}

.header_box_LGnet {
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px 10px 10px 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
}

.header_box {
    float: left;
    width: 150px;
    height: 200px;
    margin: 10px 10px 10px 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
}