@CHARSET "UTF-8";

.header_box {
    float: left;
    width: 125px;
    height: 135px;
    margin: 10px 10px 10px 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
}